<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fellowship</title>
</head>

<body>
    <header>
        <h1>The fellowship of the Ring</h1>
    </header>
    <main>
        <h4>The Fellowship are a group of 9 companions who are tasked with delivering the ring bearer to Mordor</h4>
        <div>
            <p>Read more about each member</p>
        </div>
        <div>
            <a href="/fellowship/gandalf">Gandalf</a>
            <a href="/fellowship/aragorn">Aragorn</a>
            <a href="/fellowship/gimli">Gimli</a>
            <a href="/fellowship/legolas">Legolas</a>
            <a href="/fellowship/boromir">Boromir</a>
            <a href="/fellowship/pippin">Pippin</a>
            <a href="/fellowship/merry">Merry</a>
            <a href="/fellowship/sam">Sam</a>
            <a href="/fellowship/frodo">Frodo</a>
        </div>
    </main>
    <footer>
        &copy;Peter Jackson
    </footer>
</body>

</html>