<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lord of the Rings</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/scripts/elven-magic.js" defer></script>
</head>
<body>
    <header class="header">
        <h1 class="header__title">Lord of the Rings</h1>
    </header>
    <nav class="menu">
        <a class="menu__item" href="/fellowship">Heroes</a>
        <a class="menu__item" href="/mordor">Bad Guys</a>
    </nav>
    <main>
        Lord of the Rings is just the best!
    </main>
    <img src="/images/aragorn.jpeg" width ="100%" height="auto" />
    <footer>
        &copy;Peter Jackson
    </footer>
</body>
</html>