<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mordor</title>
</head>

<body>
    <header>
        <h1>Mordor - where the shadow lies</h1>
    </header>
    <main>
        <h4>
            Mordor - the shadow lands - is where the evil Lord Sauron dwells
        </h4>
        <div>
            <p>
                The fellowship faces many foes, read about them here
            </p>
        </div>
        <div>
            <a href="/mordor/sauron">Sauron</a>
            <a href="/mordor/uruk-hai">Uruk Hai</a>
            <a href="/mordor/saruman">Saruman</a>
        </div>
    </main>
    <footer>
        &copy;Peter Jackson
    </footer>
</body>
</html>